
.galleries {
    margin-top: 2rem;
}

.galleries__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}



.gallery__info {
    padding: 0.5rem 0.5rem 0;
}

.gallery__info p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

btn {
    
}

/* ************************************ MEDIA QUERIES (TABLETS) ************************************ */


@media screen and (max-width: 1024px) {
    .galleries__container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .galleries__container {
        grid-template-columns: repeat(2, 1fr);
    }
}
