:root {
    --color_green:#006634;
    --color_success:#00DC1D;
    --color_warning:#FEB100;
    --color_danger:#DC0000;
    --color_sky:#6666FF;
    --color_darkgrey:#4E5A62;
    --color_lightgrey:#CCCCCC;
    --color_lightgrey2:#E8E5E2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--color_green);
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    display: flex;
    justify-content: center; 
}

.cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
}

.spacing {
    height: 100%;
    width: 85%;
    overflow: hidden;
    /* background: red; */
}

a {
    color: white;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

.btn{
    width: 12rem;
    padding: 16px 0;
    text-align: center;
    border: 1px solid var(--color_danger);
    color: var(--color_danger);
    position: relative;
    transition: all 400ms ease;
}

.btn::before{
    content: "Click Here for Enquiry";
    width: 100%;
    height: 100%;
    background: var(--color_danger);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(100%);
    line-height: 53px;
}
.btn:hover::before{
    transform: scaleX(0);
}

.btn1::before{
    content: "View More";
}

.btn2{
    background: white;
    color: black;
    padding: 18px 25px;
    border: 1px solid transparent;
    transition: all 400ms ease;
}
.btn2:hover{
    background: transparent;
    color: white;
    border: 1px solid white;
}

/* **************************************** NAV BAR BEGINS **************************************** */

.header {
    background: rgba(78, 90, 98, 0.9);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4.25rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header .logo {
    background-image: url("logoback.png");
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    width: 330px;
}

.header .logo img {
    width: 12rem;
    z-index: 1;
}

/* **************************************** WELCOME SECTION BEGINS **************************************** */

section.welcome {
    background-image: url("comp4.jpg");
    background-size: cover;
}

.welcome .cover {
    background: rgba(255, 255, 255, 0.8);
}

.welcome .cover .get-started {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.welcome .cover .get-started .image {
    display: flex;
    justify-content: center;
} 

.welcome .cover .get-started img {
    width: 100%;
    
}

.welcome .cover .get-started .message {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.welcome .cover .get-started .message h1{
    margin-bottom: 0.8rem;
}


/* **************************************** FOOTER SECTION BEGINS **************************************** */

section.footer{
    background: var(--color_darkgrey);
    height: 15vh;
    color: white;
    border-top: 1px solid var(--color_lightgrey2);
    text-align: center;
}

.footer .spacing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer span{
    background: var(--color_success);
    padding: 6px 8px;
}

.footer img{
    width: 20rem;
}

.footer img:hover{
    transition: all 400ms ease;
    transform: translateX(0.5rem);
}





























/* ************************************ MEDIA QUERIES (TABLETS) ************************************ */

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    section {
        height: fit-content;
    }

    .spacing {
        width: 90%;
        margin: 5rem 0;
    }

    /* **************************************** NAV BAR BEGINS **************************************** */

    .header .nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        position: absolute;
        top: 0;
        right: -10rem;
        background: white;
        height: 100vh;
        width: 10rem;
    }

    .header .nav ul li{
        height: 4rem;
        width: 100%;
        text-align: center;
    }

    .header .nav ul li a{
        display: block;
        background-color: transparent;
        color: black;
        position: relative;
        padding: 0.5rem 0;
    }

    .header .nav ul li a:hover{
        border: 1px solid transparent;
    }

    .header .nav ul li a::before{
        content: "Home";
        background-color: var(--color_danger);
        color: transparent;
        width: 0.2rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 400ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .nav ul li:nth-child(2) a::before{
        content: "About";
        background-color: var(--color_warning);
    }

    .header .nav ul li:nth-child(3) a::before{
        content: "Gallery";
        background-color: var(--color_success);
    }

    .header .nav ul li:last-child a::before{
        content: "Login";
        background-color: var(--color_sky);
    }

    .header .nav ul li a:hover::before{
        width: 100%;
        color: white;
    }
    
    .header .nav ul li:nth-child(2) a,
    .header .nav ul li:nth-child(3) a,
    .header .nav ul li:last-child a{
        background: transparent;
    }

/* **************************************** WELCOME SECTION BEGINS **************************************** */


.welcome .cover .get-started img {
    width: 110%;
    
}


/* **************************************** CATEGORY SECTION BEGINS **************************************** */



/* **************************************** ACTIVITIES SECTION BEGINS **************************************** */


.activity .spacing .activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* **************************************** TESTIMONIAL SECTION BEGINS **************************************** */

.testimonial .spacing .testimonials {
    width: 70%;
}

.testimonial .spacing .testimonials > p{
    font-size: 18px;
}

/* **************************************** CONTACT SECTION BEGINS **************************************** */

.contact .spacing .links{
    align-items: center;
}

.contact .spacing .location {
    width: 440px;
}

.contact .spacing .location .address p {
    font-size: 12px;
}

.contact .spacing .contacts {
    height: 330px;
}

}

















/* ******************************* MEDIA QUERIES (PHONE) ************************************ */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 1.8rem;
    }

    section {
        height: fit-content;
    }

    .spacing {
        margin: 5rem 0;
    }

    /* **************************************** NAV BAR BEGINS **************************************** */

    .header .logo {
        padding-left: 1.8rem;
        width: 300px;
    }

    .header .logo img {
        width: 10rem;
    }

    /* **************************************** WELCOME SECTION BEGINS **************************************** */

    .welcome .cover .get-started {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .welcome .cover .get-started img {
        width: 98%;
    }

    .welcome .cover .get-started .message {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome .cover .get-started .message p{
        text-align: center;
    }

    /* **************************************** CATEGORY SECTION BEGINS **************************************** */

    .category .spacing {
        grid-template-columns: 1fr;
        gap: 3rem;
        
    }

    .category .spacing .message {
        width: 100%;
        text-align: center;
    }

    /* **************************************** ACTIVITIES SECTION BEGINS **************************************** */

    .activity .spacing .activities {
        grid-template-columns: 1fr;
        
    }

    /* **************************************** TESTIMONIAL SECTION BEGINS **************************************** */

    section.testimonial {
        height: fit-content;
    }

    .testimonial .spacing .testimonials {
        width: 90%;
        margin-bottom: 5rem;
    }

    .testimonial .spacing .testimonials img{
        width: 80px;
    }

    .testimonial .spacing .testimonials > p{
        padding: 20px;
        font-size: 16px;
    }

    /* **************************************** CONTACT SECTION BEGINS **************************************** */

    section.contact{
        height: fit-content;
    }

    .contact .spacing{
        grid-template-columns: 1fr;
        place-items: center;
        
    }

    .contact .spacing .location {
        width: 100%;
    }

    .contact .spacing .contacts {
        width: 70%;
    }

    /* **************************************** FOOTER SECTION BEGINS **************************************** */
    
    section.footer{
        height: fit-content;
    }

    .footer .spacing{
        flex-direction: column;
        margin: 1rem 0;
        width: 100%;
    }

    .footer p{
        font-size: 16px;
    }

    .footer img{
        width: 16rem;
    }


}




















/* ************************************ MEDIA QUERIES (TABLETS) ************************************ */


